@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@keyframes rotate {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.icon.animated {
    animation: rotate 0.8s;
}

.icon {
    float: right;
}

#defaultCanvas0 {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#settings {
    margin: 10px;
    z-index: 2;
    right: -310px;
    position: absolute;
    top: 50px;
    width: 270px;
    height: 250px;
    background-color: #000000;
    border-radius: 20px;
    padding: 15px;
    padding-top: 0;
    -webkit-transition: right 500ms ease-in;
    -moz-transition: right 500ms ease-in;
    transition: right 500ms ease-in;
}

#settings.in {
    right: 0px;
}

body {
    margin: 25px;
    height: 100%;
    overflow: hidden;
}

#tongong {
    position: absolute;
    right: 15px;
    bottom: 15px;
    margin: 0;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    top: 3px;
    display: inline-block;
}

a:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    transform: translateX(-100%);
    position: absolute;
    transition: transform .5s ease;
    content: '';
}

a:hover:before {
    transform: translateX(0);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    border: none;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    border: none;
}